*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.wrapper{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(45deg, rgb(40, 23, 76),rgb(232, 90, 94));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: #e75a5e;
    height: 350px;
    width: 350px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px #2b184c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px
}


.btns{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn{
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}

#endGamebtn{
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}

.result{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
}